## Quiz #0202

In [ ]:
import pandas as pd
import numpy as np
import os

#### Read in the data.

In [ ]:
# Go to the directory where the data file is located. 
# os.chdir(r'~~')                # Please, replace the path with your own.

In [ ]:
df = pd.read_csv('data_census.csv', header='infer')

In [ ]:
df.shape

(281, 6)

In [ ]:
df.head(10)

   ProvinceCode  CityCode  ...  PersonsHousehold  GenderRatio
0           109      1001  ...              2.40         0.97
1           109      1188  ...              2.14         0.98
2           109      1189  ...              2.13         1.00
3           109      1158  ...              2.17         0.94
4           109      1105  ...              2.35         0.99
5           109      1032  ...              2.28         0.97
6           109      1065  ...              2.26         1.01
7           109      1190  ...              2.36         1.00
8           109      1106  ...              2.41         0.96
9           109      1006  ...              2.36         0.97

[10 rows x 6 columns]

#### Answer the following questions using Pandas library.

1). Total population of ProvinceCode equal to 115 and 116:

In [ ]:
df[(df.ProvinceCode ==115)  & (df.ProvinceCode)==116].Population.sum()

0

2). Average population of the cities where there are more males (GenderRatio >1):

In [ ]:
df[(df.GenderRatio >1) ].Population.mean()

419221.2076923077

3). Places with more males  (GenderRatio >1) and less than 2 persons per household:

In [ ]:
df[(df.GenderRatio >1)  & (df.PersonsHousehold)<2]

     ProvinceCode  CityCode  ...  PersonsHousehold  GenderRatio
0             109      1001  ...              2.40         0.97
1             109      1188  ...              2.14         0.98
2             109      1189  ...              2.13         1.00
3             109      1158  ...              2.17         0.94
4             109      1105  ...              2.35         0.99
..            ...       ...  ...               ...          ...
276           103      1011  ...              2.27         0.94
277           103      1233  ...              2.02         0.91
278           115      1001  ...              2.45         1.01
279           115      1186  ...              2.49         1.00
280           115      1096  ...              2.34         1.02

[281 rows x 6 columns]

4). Sort the DataFrame in ascending order of the 'Households'. Show the top 10.

In [ ]:
df.sort_values(by='Households',ascending=True)
df.head(10)

   ProvinceCode  CityCode  ...  PersonsHousehold  GenderRatio
0           109      1001  ...              2.40         0.97
1           109      1188  ...              2.14         0.98
2           109      1189  ...              2.13         1.00
3           109      1158  ...              2.17         0.94
4           109      1105  ...              2.35         0.99
5           109      1032  ...              2.28         0.97
6           109      1065  ...              2.26         1.01
7           109      1190  ...              2.36         1.00
8           109      1106  ...              2.41         0.96
9           109      1006  ...              2.36         0.97

[10 rows x 6 columns]